CheckEMBG/WebContent/wsdl/EMBG.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.web.com.check" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.web.com.check" xmlns:intf="http://service.web.com.check" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.web.com.check" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="testEMBG">
    <complexType>
     <sequence>
      <element name="embg" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="testEMBGResponse">
    <complexType>
     <sequence>
      <element name="testEMBGReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="testEMBGResponse">

      <wsdl:part element="impl:testEMBGResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testEMBGRequest">

      <wsdl:part element="impl:testEMBG" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EMBG">

      <wsdl:operation name="testEMBG">

         <wsdl:input message="impl:testEMBGRequest" name="testEMBGRequest">

       </wsdl:input>

         <wsdl:output message="impl:testEMBGResponse" name="testEMBGResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EMBGSoapBinding" type="impl:EMBG">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="testEMBG">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testEMBGRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testEMBGResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EMBGService">

      <wsdl:port binding="impl:EMBGSoapBinding" name="EMBG">

         <wsdlsoap:address location="http://localhost:8080/CheckEMBG/services/EMBG"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
